@model TicketManager.WebUI.Models.LoginInfo

@{
    ViewBag.Title = "Login";
    Layout = "";
}
<script src="https://kit.fontawesome.com/7bc2b6c846.js" crossorigin="anonymous"></script>
<link href="~/Content/LoginStyles.css" rel="stylesheet" />

<div class="LogInBox">
    <div class="homeButton">
        <a href="/"><i class="fas fa-arrow-left"></i> Home</a>
    </div>

    @using (Html.BeginForm())
    {
        <div>
            <h3>Login</h3>
        </div>
        @Html.ValidationSummary()

        <div>
            <i class="fas fa-user"></i>
            @Html.TextBoxFor(m => m.Username, new { @class = "enterField", placeholder = "Username" })
        </div>

        <div>
            <i class="fas fa-lock"></i>
            @Html.PasswordFor(m => m.Password, new { @class = "enterField", placeholder = "Password" })
        </div>

        <input type="submit" value="Login" class="btn btn-primary" />
    }
</div>

