
<script src="https://kit.fontawesome.com/7bc2b6c846.js" crossorigin="anonymous"></script>
<script src="~/Scripts/SideCartJS.js"></script>
<link href="~/Content/SideCart.css" rel="stylesheet" />

<div id="cartSidePanel">
    <i id="openIcon" class="fas fa-angle-double-left testingIcon" onclick="openNav()"></i>
    <div class="testingDiv" id="mySidepanel">
        <h3 class="cartTitle">Your Cart</h3>
        <div class="dynamicCart scrollBox">

        </div>
    </div>
</div>