@model TicketManager.WebUI.Models.CheckoutInfo

@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        <div>
            <label>@(property.DisplayName ?? property.PropertyName)</label>
            @Html.TextBox(property.PropertyName)
        </div>
    }

    <input type="submit" value="Enter" class="btn btn-primary" />
}
