body {
    background-color: whitesmoke;
}

a:hover{
    text-decoration:none;
}


.HGparent {
    display: grid;
    grid-template: auto 1fr auto / minmax(50px,15%) 1fr minmax(50px,15%);
}

.HGheader {
    grid-column: 1 / -1;
    background-color: chartreuse;
}

.HGmain {
    grid-column: 2 / 3;
}

.HGleft {
    grid-column: 1 / 2;
}

.HGright {
    grid-column: 3 / 4;
}

.logo {
    font-size: 28px;
    color: #bdc3c7;
    margin: 5px 20px 5px 20px;
}

.logo:hover {
    text-decoration:none;
    color: #bdc3c7;
}

#NotificationCenter {
    position: fixed;
    top: 40px;
    right: 40px;
    min-width: 300px;
    width: 40%;
    display: flex;
    flex-direction: column;
}

#NotificationCenter > .notification {
    background-color: #edde53;
    color: black;
    margin-top: 20px;
    padding: 10px;
}

.nav-btn {
    color: ghostwhite !important;
    font-size: 20px;
}

.nav-item {
    padding: 0.5rem 1.5rem;
}