body {
    background-color: whitesmoke;
}

a:hover{
    text-decoration:none;
}

.HGparent {
    display: grid;
    grid-template: auto 1fr auto / minmax(50px,15%) 1fr minmax(50px,15%);
}

.HGheader {
    grid-column: 1 / -1;
    background-color: chartreuse;
}

.HGmain {
    grid-column: 2 / 3;
}

.HGleft {
    grid-column: 1 / 2;
}

.HGright {
    grid-column: 3 / 4;
}

.page_header {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: stretch;
    background-color: black;
}

.logo {
    font-size: 32px;
    color: #bdc3c7;
    margin: 5px 20px 5px 20px;
}

.page_header ul{
    display:table;
    list-style-type: none;
    margin: 12.5px 0px 0px 0px;
    padding: 0;
}

.page_header ul li {
    vertical-align: central;
    display:table-cell;
}

.page_header a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 20px;
    text-align: center;
    margin: 5px 20px 5px 20px;
    padding: 1px 7px 5px 7px;
    border: 2px solid #2ecc71;
    border-radius: 10px;
    background-color: #27ae60;
    transition-duration: 0.2s;
}

.page_header a:hover{
    color:#2980b9;
    text-decoration:none;
}