.addbutton {
    background-color: #e05151;
    color: white;
    padding: 15px;
    border: 1px solid #a13838;
    border-radius: 10px;
    border-bottom: 3px solid #a13838;
    clear: both;
    margin-top: 45px;

}

    .addbutton:hover {
        text-decoration: none;
        color: white;
        background-color: #a13838;
    }

.navbutton,
.navbutton:hover {
    border: 2px solid black;
    padding: 3px 10px 3px 10px;
    border-radius: 50px;
    font-weight: 700;
    text-decoration: none;
}

.tablenav {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
}

    .tablenav a:nth-child(n) {
        margin-right: 10px;
    }

.dropdownActions {
    display: none;
    position: absolute;
    top: 51px;
    z-index: 6;
    border: 3px solid green;
    border-radius: 5px;
}

.show {
    display: block;
}

.optionsbtn {
    display: none;
}

#ShowTicketsPage a:hover {
    text-decoration: none;
}

#ShowTicketsPage .fas {
    margin-top: 2px;
}

#ShowTicketsTable {
    display: grid;
    grid-template-columns: minmax(150px,2fr) minmax(150px,2fr) minmax(150px,1fr) minmax(100px,1fr) minmax(100px,1fr) 50px;
    margin-top: 15px;
    border: 1px solid black;
    border-radius: 6px;
}

#ShowTicketsTable .buybtn {
    background-color: yellow;
    border: 3px solid #8a6204;
    color: #8a0e1a;
    padding: 8px 8px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    user-select: none;
}

#ShowTicketsTable .buybtn:hover {
    text-decoration: none;
    font-size: 16px;
}

.My_th {
    text-align: center;
    color: #00ad5f;
    background-color: #393939;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px 10px;
}

.My_td, #ShowTicketsTable a {
    font-size: 14px;
    display: grid;
    place-items: center;
    color: floralwhite;
    background-color: #222;
    text-align: center;
    padding: 10px;
    border-top: 1px solid gray;
}

#ShowTicketsTable a,
#ShowTicketsTable a:hover {
    border-top: 0px;
    font-size: 18px;
    text-decoration: none;
}