@model TicketManager.WebUI.Models.TicketShowModel

@{
    ViewBag.Title = "ShowTickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "ShowTicketsTable",
        HttpMethod = "GET"
    };
}

@{
    //TODO SEARCH/FILTER 
}

<div>
    <link href="~/Content/ShowTickesStyle.css" rel="stylesheet" />
    <i class="bi bi-info-circle"></i>
    @Html.Action("GetTicketTable", new { page = Model.PageNow })

    <div>
        @Html.ActionLink("Add Ticket", "Create", "Admin", new { @class = "addbutton" })
    </div>

    <aside>
        @{ Html.RenderAction("CartIcon", "Cart");}
    </aside>

</div>
