@model TicketManager.WebUI.Models.TicketShowModel

@{
    ViewBag.Title = "ShowTickets";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "ShowTicketsTable",
        HttpMethod = "GET"
    };
}

@*TODO SEARCH/FILTER*@

<div>

    <script src="https://kit.fontawesome.com/7bc2b6c846.js" crossorigin="anonymous"></script>

    @Html.Action("GetTicketTable", new { page = Model.PageNow })

    <div style="clear: both;
    margin-top: 45px;">
        @Html.ActionLink("Add Ticket", "Create", "Admin", new { @class = "addbutton" })
    </div>
</div>
