@model TicketManager.WebUI.Models.ShowTicketModel

@{
    ViewBag.Title = "ShowTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    //TODO Images
}

<div>
    TICKET NAME
</div>

<div>
    TICKET DESCRIPTION
</div>

<div> EVENT TIME</div>

<div>
    BUY TIME "START - END"
</div>

<div>
    PRICE
</div>

<div>
    AVALIABLE NUMBER OF TICKETS
</div>

<div>
    ADD TO CART BUTTON
    AND FIELD FOR NUMBER OF TICKETS
</div>

<aside>
    @{ Html.RenderAction("CartIcon", "Cart");}
</aside>

<div>
    @Model.OtherTicketsByOrg.Count()
</div>