<body>

    <div class="text-center homescreenbuttons">
        @Html.ActionLink("Show Tickets", "ShowTickets", "Admin")
    </div>

    <div class="text-center homescreenbuttons">
        @Html.ActionLink("Add tickets", "Create", "Admin")
    </div>

    <div class="text-center homescreenbuttons">
        @Html.ActionLink("Show Users", "ViewUsers", "User")
    </div>

</body>