@model IQueryable<TicketManager.Domain.Entities.User>


@{
    ViewBag.Title = "ViewUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered table-striped" style="margin-top:50px;">

    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Edit</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var use in Model)
        {
            <tr>
                <td>@use.Name</td>
                <td>@use.Role</td>
                <td>@Html.ActionLink("Edit", "EditUser", new { userID = use.UserID })</td>
            </tr>
        }
    </tbody>

</table>

